<app-error-toast
  [message]="errorMessage"
  [timeout]="3000"
  #errorToast></app-error-toast>

<div class="container mx-auto mt-10">
  <div class="flex justify-between gap-4 flex-wrap">
    <!-- Artiestenlijst -->
    <div
      class="artists-list-container list-scroll-bar max-h-[500px] w-full lg:w-1/2 overflow-y-scroll">
      <ul>
        @for (performance of performances$ | async; track $index) {
          <li class="list-item">
            <img
              [src]="performance.artist.discogsImage?.url"
              class="thumbnail"
              [alt]="performance.artist.name" />
            <div class="details">
              <h3>{{ performance.artist.name }}</h3>
              <p>{{ performance.stage.name }}</p>
              <div class="flex gap-4 flex-wrap">
                <p class="me-4">
                  <i class="fa-solid fa-calendar-days"></i>
                  {{ performance.day.date | date: 'mediumDate' }}
                </p>
                <p class="me-4">
                  <i class="fa-solid fa-clock"></i>
                  {{ performance.startTime | date: 'HH:mm' }} -
                  {{ performance.endTime | date: 'HH:mm' }}
                </p>
              </div>
            </div>
            <div class="flex justify-center items-center gap-4 text-lg">
              <button
                class="text-red-600"
                (click)="deletePerformance(performance.id)">
                <i class="fa-regular fa-trash-can"></i>
              </button>
              <button
                class="text-accent"
                [ngClass]="{
                  'icon-button':
                    edit && selectedPerformanceId === performance.id,
                }"
                (click)="editPerformance(performance)">
                <i class="fa-solid fa-pen"></i>
              </button>
            </div>
          </li>
        }
      </ul>
    </div>

    <!-- Formulier -->
    <div class="form-container w-full lg:w-1/3">
      <div>
        <h1 class="form-title" id="crudFormTitle">
          {{ this.edit ? 'Edit performance' : 'Add performance' }}
        </h1>

        <form (ngSubmit)="submitPerformanceForm()" #performanceForm="ngForm">
          <div class="mb-5">
            <div class="flex justify-between items-center">
              <label class="w-full"
                >Select Artist
                <span
                  class="text-sm text-white/30 float-right cursor-pointer underline hover:italic"
                  (click)="createNewArtist = !createNewArtist"
                  >Or create a new artist?</span
                >
              </label>
            </div>
            <div class="flex w-full justify-center gap-x-3 items-stretch">
              <app-artist-dropdown
                class="w-full list-scroll-bar"
                [(selectedArtist)]="selectedArtist"
                (selectedArtistChange)="onArtistSelected($event)" />
            </div>
          </div>
          @if (createNewDate) {
            <div class="mb-5">
              <label for="newDate"
                >Add new day
                <span
                  class="text-sm text-white/30 float-right cursor-pointer underline hover:italic"
                  (click)="createNewDate = false"
                  >Or choose from existing days?</span
                >
              </label>
              <div class="flex justify-center items-center gap-4">
                <input
                  type="date"
                  class="w-full"
                  id="newDate"
                  name="newDate"
                  [(ngModel)]="newDate" />
              </div>
            </div>
          } @else {
            <div class="mb-5">
              <label for="dayId"
                >Day
                <span
                  class="text-sm text-white/30 float-right cursor-pointer underline hover:italic"
                  (click)="createNewDate = true"
                  >Or create a new day?</span
                ></label
              >
              <div class="flex justify-center items-center gap-4">
                <select
                  id="days"
                  class="rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
                  name="dayId"
                  style="
                    background-color: rgba(239, 53, 242, 0.1);
                    border: 1px solid rgba(239, 53, 242, 0.4);
                    color: rgba(239, 53, 242, 0.9);
                  "
                  [(ngModel)]="selectedPerformanceDto.dayId">
                  @for (day of days$ | async; track $index) {
                    <option value="{{ day.id }}">
                      {{ day.date | date: 'dd/MM/yyyy' }}
                    </option>
                  }
                </select>
              </div>
            </div>
          }
          <div class="mb-5">
            <label for="stageId">
              Stage
              <span
                class="text-sm text-white/30 float-right cursor-pointer underline hover:italic"
                (click)="createNewStage = !createNewStage"
                >Or add a new stage?</span
              >
            </label>
            <select
              id="stages"
              class="rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
              name="stageId"
              style="
                background-color: rgba(239, 53, 242, 0.1);
                border: 1px solid rgba(239, 53, 242, 0.4);
                color: rgba(239, 53, 242, 0.9);
              "
              [(ngModel)]="selectedPerformanceDto.stageId">
              @for (stage of stages$ | async; track $index) {
                <option value="{{ stage.id }}">
                  {{ stage.name }}
                </option>
              }
            </select>
            <!--<input-->
            <!--  type="text"-->
            <!--  id="stageId"-->
            <!--  name="stageId"-->
            <!--  class="w-full"-->
            <!--  required-->
            <!--  [(ngModel)]="selectedPerformanceDto.stageId" />-->
          </div>
          <div class="mb-5">
            <div class="flex w-full justify-between items-center">
              <label for="startTime" class="w-full">Start Time</label>
              <label for="endTime" class="w-full">End Time</label>
            </div>
            <div class="flex w-full gap-x-2 justify-evenly items-center">
              <input
                type="time"
                id="startTime"
                name="startTime"
                class="w-full"
                required
                [(ngModel)]="formattedStartTime" />
              <input
                type="time"
                id="endTime"
                name="endTime"
                class="w-full"
                required
                [(ngModel)]="formattedEndTime" />
            </div>
          </div>
          <div class="flex gap-4 justify-start">
            @if (edit) {
              <button
                type="button"
                class="w-full"
                (click)="submitEdit()"
                [disabled]="!performanceForm.form.valid">
                Edit
              </button>
              <button type="button" class="w-full" (click)="cancelEdit()">
                Cancel
              </button>
            } @else {
              <button
                type="submit"
                class="w-full"
                [disabled]="!performanceForm.form.valid">
                Create
              </button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
@if (createNewArtist || createNewStage) {
  <div
    class="w-screen h-screen fixed top-0 left-0 bg-black/20 backdrop-blur-lg flex justify-center items-center">
    <div
      (click)="closeModal()"
      class="fixed top-0 right-0 pt-32 px-32 w-auto h-50 z-50 cursor-pointer">
      <i class="fa-solid fa-x text-4xl"></i>
    </div>
    @if (createNewArtist) {
      <app-artist-form
        class="w-full max-w-[500px]"
        (ArtistCreatedEvent)="onArtistCreated($event)"
        (ErrorEvent)="onErrorEvent($event)"
        [edit]="false" />
    }
    @if (createNewStage) {
      <app-stage-form
        class="w-full max-w-[500px]"
        (StageCreatedEvent)="onStageCreated($event)"
        (ErrorEvent)="onErrorEvent($event)"
        [edit]="false" />
    }
  </div>
}
