<div class="wave"></div>
<footer>
  <div class="footer-container">
    <!-- Festival Information -->
    <div class="footer-section">
      <h4>Festival Information</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <!-- Navigation Links -->
    <div class="footer-section">
      <h4>Navigation</h4>
      <ul>
        <li><a routerLink="/line-up">Lineup</a></li>
        <li><a routerLink="/stages">Stages</a></li>
        <li><a routerLink="/tickets">Tickets</a></li>
		@if (isAuthenticated) {
			<li><a routerLink="/admin">Admin</a></li>
		}
      </ul>
    </div>

    <!-- Sponsors Section -->
    <div class="footer-section sponsors">
      <h4>Our Sponsors</h4>
      <div class="sponsor-logos">
        <img src="assets/sponsors/red_bull.png" alt="Red Bull" />
        <img src="assets/sponsors/fanta.png" alt="Fanta" />
        <img src="assets/sponsors/stella.png" alt="Stella Artois" />
        <!-- Add more sponsor logos as needed -->
      </div>
      <div class="absolute">
        @if (isAuthenticated) {
          @if (user) {
            <p class="text-sm">
              Currently logged in: <span class="italic">{{ user.email }}</span>
            </p>
          }
          <a (click)="logout()" class="cursor-pointer">Log Out</a>
        } @else {
          <a (click)="login()" class="cursor-pointer">Log In</a>
        }
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Laser Llama. All rights reserved.</p>
  </div>
</footer>
