<div class="container mx-auto">
  <h1 class="py-4 text-center text-6xl my-8 text-white">Manage Content</h1>
  <div class="flex justify-center items-center">
    <app-admin-button
      [text]="'Manage Artists'"
      [destination]="'/line-up'"
      [icon_classes]="'fa-solid fa-user'"></app-admin-button>
    <app-admin-button
      [text]="'Manage Days'"
      [destination]="'/line-up'"
      [icon_classes]="'fa-solid fa-calendar-day'"></app-admin-button>
    <app-admin-button
      [text]="'Manage Genres'"
      [destination]="'/line-up'"
      [icon_classes]="'fa-solid fa-record-vinyl'"></app-admin-button>
    <app-admin-button
      [text]="'Manage Performances'"
      [destination]="'/line-up'"
      [icon_classes]="'fa-solid fa-guitar'"></app-admin-button>
  </div>
</div>
