<app-error-toast [message]="'Failed to update user.'" [timeout]="3000" #errorToast></app-error-toast>

<div class="container mx-auto">

  <h2 class="py-8 text-center text-6xl my-8 text-white font-anton mt-6">Manage Content</h2>
  <div class="flex flex-wrap gap-4 justify-center mx-auto max-w-[1024px]">
	<app-admin-button
	  [text]="'Manage Artists'"
	  [destination]="'/admin/manage-artists'"
	  [icon_classes]="'fa-solid fa-user'">
	</app-admin-button>
	<app-admin-button
	  [text]="'Manage Performances'"
	  [destination]="'/admin/manage-performances'"
	  [icon_classes]="'fa-solid fa-guitar'">
	</app-admin-button>
	<app-admin-button
	  [text]="'Manage Stages'"
	  [destination]="'/admin/manage-stages'"
	  [icon_classes]="'fa-solid fa-tent'">
	</app-admin-button>
	<app-admin-button
	  [text]="'Manage Genres'"
	  [destination]="'/admin/manage-genres'"
	  [icon_classes]="'fa-solid fa-record-vinyl'">
	</app-admin-button>
	<app-admin-button
	  [text]="'Manage Tickets'"
	  [destination]="'/admin/manage-tickets'"
	  [icon_classes]="'fa-solid fa-ticket'">
	</app-admin-button>
	<a href="https://manage.auth0.com/dashboard/us/dev-m6g4o1k40ifixf7v/users" target="_blank">
		<app-admin-button
		[text]="'Manage Users'"
		[icon_classes]="'fa-solid fa-users'">
		</app-admin-button>
	</a>
  </div>
</div>
