<div class="modal-overlay" (click)="onOverlayClick($event)">
  <div class="modal-content">
    <button class="close-button" (click)="close()">
      <i class="fa-solid fa-x text-2xl text-[#666]"></i>
    </button>

    <div class="artist-header">
      <img
        [src]="artist.discogsImage?.url"
        [alt]="artist.name"
        class="artist-modal-image" />
      <h2 class="artist-title">{{ artist.name }}</h2>
    </div>

    <div class="artist-details">
      <div class="biography" *ngIf="artist.biography">
        <h3>Biography</h3>
        <p [innerHTML]="htmlBiography"></p>
      </div>
      <div class="performances">
        @for (performance of performances$ | async; track $index) {
          <div class="performance-item">
            <span class="day">{{ performance.day.date | date: 'dd/MM' }}</span>
            <span class="stage">{{ performance.stage.name }}</span>
            <span class="time"
              >{{ performance.startTime | date: 'HH:mm' }} -
              {{ performance.endTime | date: 'HH:mm' }}</span
            >
          </div>
        }
      </div>
      <div class="genres" *ngIf="artist.genres?.length">
        <h3>Genres</h3>
        <div class="genre-tags">
          <span class="genre-tag" *ngFor="let genre of artist.genres">
            {{ genre.name }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
