<div class="stage-info-container">
    @if (stage$ | async; as stage) {
      {{stage.name}}
      {{stage.capacity}}
      {{stage.description}}
      <div class="stage-info-container">
        <iframe 
          width="600" 
          height="450" 
          style="border:0;" 
          loading="lazy" 
          allowfullscreen 
          [src]="getSanitizedUrl(stage.latitude, stage.longitude)">
        </iframe>
        <small>
          <a 
            [href]="'https://maps.google.com/maps?q=' + stage.latitude + ',' + stage.longitude + '&hl=en&z=14'" 
            style="color:#0000FF;text-align:left" 
            target="_blank">
            See map bigger
          </a>
        </small>
      </div>
      
}
</div>