.artist-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 400px;
    text-align: center;
    position: relative;
    display: flex;
    cursor: grab;

}


.artist-image {
    
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    aspect-ratio: 1 1;
}

.artist-name{
    position: absolute;
    background-color:rgba(239, 53, 242);
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);

    color: white;
    font-weight: bold;
    font-size: 21px;
    width: 100%;
    padding: 2rem;
    bottom: 0;
    transition: all ease 0.3s;
}
.artist-card:hover .artist-name{
    clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
    background-color:rgba(239, 53, 242,0.6);

}