.styled-select {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid rgba(239, 53, 242, 0.4);
    border-radius: 5px;
    background-color: rgba(239, 53, 242, 0.1);
    color: rgba(239, 53, 242, 0.9);
    transition: border-color 0.3s ease, background-color 0.3s ease;
    appearance: none;
}

.styled-select:focus {
    border-color: rgba(239, 53, 242, 1);
    background-color: rgba(239, 53, 242, 0.2);
    outline: none;
}

.styled-select option {
    background-color: rgba(239, 53, 242, 0.1);
    color: rgba(239, 53, 242, 0.9);
    padding: 10px;
}
