/* Ensure that the navbar is centered and sticky */
.nav-list {
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    
    z-index: 2000;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Blurring effect */
.nav-blur {
    backdrop-filter: blur(8px);
    background-color: rgba(63, 10, 115, 0.7);
}

/* Navbar component styles */
.nav-component {
    display: flex;
    align-items: center;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    width: 100px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    height: auto;
}

.nav-list a:hover {
    border-bottom: 2px solid white;
}

.logo a {
    text-decoration: none;
}

.logo a:hover {
    border-bottom: none;
}

.nav-list a.active {
    border-bottom: 2px solid white;
}
