<nav [class.nav-blur]="isScrolled">
    <ul class="nav-list">
        <li><a routerLink="/line-up" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Line Up</a></li>    
        <li><a routerLink="/stages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Stages</a></li>
        <li class="logo"><a routerLink=""><img src="assets/logo.png" alt="Logo"></a></li>
        <li><a routerLink="/tickets" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tickets</a></li>    
        <li><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>      
    </ul>
</nav>