<ul class="nav-list" [class.nav-blur]="isScrolled" [class.fixed]="isScrolled">
    <li class="nav-component"><a routerLink="/line-up" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Line Up</a></li>    
    <li class="nav-component"><a routerLink="/stages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Stages</a></li>
    
    <!-- Centered Logo -->
    <li class="logo nav-component"><a routerLink=""><img src="assets/logo.png" alt="Logo"></a></li>
    
    <li class="nav-component"><a routerLink="/tickets" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tickets</a></li>    
    <li class="nav-component"><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact</a></li>      
</ul>
