<div class="form-container">
    <app-error-toast [message]="errorMessage" [timeout]="3000" #errorToast></app-error-toast>
    <h1 class="form-title">Add Artist</h1>

    <form (ngSubmit)="submitForm()">
        <div class="mb-5">
            <label for="name">Name</label>
            <input type="name" id="name" name="name" required [(ngModel)]="newArtist.name" />
        </div>
        <div class="mb-5">
            <label for="spotifyId">Spotify id</label>
            <input type="spotifyId" id="spotifyId" name="spotifyId" required [(ngModel)]="newArtist.spotifyId" />
        </div>
        <div class="mb-5">
            <label for="biography">Biography</label>
            <input type="biography" id="biography" name="biography" required [(ngModel)]="newArtist.biography" />
        </div>
        <button type="submit">Create artist</button>
    </form>
</div>
