.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(239, 53, 242, 0.05);
  border: 1px solid rgba(239, 53, 242, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgba(239, 53, 242, 0.8);
  margin-bottom: 8px;
}

.form-container input[type="name"],
.form-container input[type="spotifyId"],
.form-container input[type="biography"] {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid rgba(239, 53, 242, 0.4);
  border-radius: 5px;
  background-color: rgba(239, 53, 242, 0.1);
  color: rgba(239, 53, 242, 0.9);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.form-container input:focus {
  border-color: rgba(239, 53, 242, 1);
  background-color: rgba(239, 53, 242, 0.2);
  outline: none;
}

.form-container input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: rgba(239, 53, 242, 0.8);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: rgba(239, 53, 242, 1);
}

.form-container a {
  color: rgba(107, 242, 229, 0.8);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.form-container a:hover {
  color: rgba(107, 242, 229, 1);
}


.form-container .form-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(107, 242, 229, 0.8);
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
}

.form-container .form-title::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 4px;
  background: rgba(107, 242, 229, 0.6);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}
