<app-error-toast
  [message]="errorMessage"
  [timeout]="3000"
  #errorToast></app-error-toast>

<div class="container mx-auto mt-10">
  <div class="flex justify-between gap-4 flex-wrap">
    <!-- Artiestenlijst -->
    <div class="artists-list-container list-scroll-bar max-h-[500px] w-full lg:w-1/2 overflow-y-scroll">
      <ul>
        @for (artist of artists$ | async; track $index;) {
          <li class="list-item">
            <img
              [src]="artist.discogsImage?.url"
              [alt]="artist.name"
              class="thumbnail my-auto" />
            <div class="details">
              <h3>{{ artist.name }} <span class="text-sm text-accent">{{ artist.genres.length > 0 ? getGenreList(artist.genres) : '' }}</span> </h3>

              <div class="biography-container" [class.expanded]="artist.showFullBio">
                <p [innerHtml]="artist.biography"></p>
              </div>
              <button class="text-accent" (click)="toggleBiography(artist)">
                {{ artist.showFullBio ? 'Show less' : 'Show more' }}
              </button>
            </div>
           <div class="my-auto flex gap-4 text-accent">
            <button class="text-lg" (click)="deleteArtist(artist.id)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
            <button
              class="text-lg"
              [ngClass]="{
                'icon-button': edit && selectedArtistId === artist.id,
              }"
              (click)="editArtist(artist)" [disabled]="edit">
              <i class="fa-solid fa-pen"></i>
            </button>
           </div>
          </li>
        }
      </ul>
    </div>

    <app-artist-form
      (ErrorEvent)="onErrorEvent($event)"
      [selectedArtistId]="selectedArtistId"
      [selectedArtistDto]="selectedArtistDto"
      [(edit)]="edit"
      class="w-full max-w-[500px] lg:w-1/3 mx-auto" />
  </div>
</div>
