<app-error-toast [message]="errorMessage" [timeout]="3000" #errorToast></app-error-toast>
<h1>Line up</h1>
<div class="container mx-auto">
  <nav class="nav-bar">
    <button (click)="updateFilterContent('all')" [class.active]="activeFilter === 'all'">All artists</button>
    <button (click)="updateFilterContent('byDay')" [class.active]="activeFilter === 'byDay'">Artists by day</button>
    <button (click)="updateFilterContent('byGenre')" [class.active]="activeFilter === 'byGenre'">Artists by genre</button>
    <button (click)="updateFilterContent('byStage')" [class.active]="activeFilter === 'byStage'">Artists by stage</button>
  </nav>

  <!-- subfilter -->
  <nav class="sub-nav-bar">
    @for (filterOption of subfilters; track $index) {
      <button (click)="updateSubFilter($index)" [class.active]="activeSubFilterIndex === $index">{{ filterOption | formatLineUpTitle }}</button>
    }
  </nav>
  <!-- subfilter -->


  <!-- <h2 class="day-title">Line up</h2> -->

  <div class="artists-container">
    @for (artist of artistSchedule; track $index) {
      <app-artist [artist]="artist"></app-artist>
    }
  </div>
</div>
